/* обгортка для товарів */

.goods {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

@media(max-width: 1100px) {
    .goods {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media(max-width: 996px) {
    .goods {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 776px) {
    .goods {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 500px) {
    .goods {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 500px) {
    .goods {
        grid-template-columns: 1fr;
    }
}

.goods article {
    background: var(--light);
    position: relative;
    overflow: hidden;
    padding: 0 0 10px;
}

.goods .image {
    background: var(--light);
}

.goods .image img {
    vertical-align: middle;
    width: 100%;
    height: auto;
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}


/* назва  */

.goods .description h4 {
    text-transform: none;
    padding: 20px 10px 5px;
    text-align: center;
    margin: 0;
}

.goods .description h4 a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.goods .description h4 a:hover {
    color: var(--original);
}


/* ціна */

.goods .price {
    text-align: center;
    margin: 0 0 5px;
}

.goods .price span {
    text-decoration: line-through;
    font-size: 12px;
    color: var(--original);
}


/* кнопки */

.goods .buttons {
    text-align: center;
    margin: 0 0 5px;
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.goods article:hover .buttons {
    opacity: 1;
}

.goods .buttons button {
    cursor: pointer;
    padding: 10px;
    border: none;
    color: var(--original);
    outline: 1px solid var(--original);
    background: var(--light);
    -webkit-transition: background .5s;
    transition: background .5s;
}

.goods .buttons button:hover {
    background: var(--original);
    outline-color: var(--light);
    color: var(--original);
}

.goods .buttons button i {
    font-size: 18px;
    color: var(--dark);
}

.goods .buttons button:hover i {
    color: var(--light);
}