#header {
    padding: 20px 0;
    overflow: hidden;
}

/* @media(max-width: 776px){
    #header{
        padding: 0;
    }
} */

#header .container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 'logo search phone callback basket';
}

@media(max-width: 996px) {
    #header .container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
            'logo logo logo search search search' 
            'phone phone callback callback basket basket';
        grid-gap: 10px;
    }
}

@media(max-width: 500px) {
    #header .container {
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: 
            'logo logo logo search search search search' 
            'phone callback callback callback basket basket basket';
        grid-gap: 10px;
    }
}

@media(max-width: 400px) {
    #header .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            'logo logo'
            'search search' 
            'phone callback'
            'basket basket';
        grid-gap: 10px;
    }
}

/**/
#logo{
    grid-area: logo;
}

@media(max-width: 996px){
    #logo{
        text-align: center;
    }
}

/**/
#search{
    grid-area: search;
}

@media(max-width: 996px){
    #search{
        text-align: center;
    }
}

#search input {
    background: url('../images/search.png') right no-repeat;
}

@media(max-width: 400px){
    #search input{
        width: 100%;
    }
}

#search input:focus {
    background: none;
}

/**/
#phone{
    grid-area: phone;
    text-align: center;
}

#phone a {
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: var(--orange);
}

#phone i{
    display: none;
}

@media(max-width: 776px){
    #phone i{
        display: inline-block;
    }
    #phone .fa:before {
        font-size: 32px;
    }
    #phone span{
        display: none;
    }
}

@media(max-width: 400px){
    #phone i {
        display: none;
    }
    #phone span{
        display: block;
    }
}

#phone em {
    color: var(--dark);
    font-style: normal;
    font-weight: 500;
}

/**/
#callback{
    grid-area: callback;
    text-align: center;
}

#callback a {
    display: inline-block;
    padding: 10px 15px;
    border: 3px solid var(--orange);
    border-radius: var(--border-radius);
    color: var(--orange);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    animation: blink 3s forwards infinite;
}

#callback a:hover {
    border: 3px solid var(--red);
    color: var(--red);
}

@keyframes blink {
    50% {
        border-color: var(--orange);
        color: var(--orange);
    }
    0%,
    100% {
        border-color: var(--red);
        color: var(--red);
    }
}

/**/
#basket{
    grid-area: basket;
    text-align: right;
}

@media(max-width: 400px){
    #basket{
        text-align: center;
    }
}

#basket button {
    /* padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: var(--border-radius);
    background: var(--light);
    outline: none; */
}

