#levus-menu {
    height: 100%;
}

@media(max-width: 1240px) {
    #levus-menu {
        width: 100%;
    }
}


/* desktop */

#levus-menu.desktop li {
    display: block;
    position: relative;
}

#levus-menu.desktop a {
    display: block;
    color: var(--light);
    font-size: 14px;
    text-decoration: none;
    padding: 10px 20px;
    -webkit-transition: background .5s;
    transition: background .5s;
}

.header-white #levus-menu.desktop a {
    color: var(--dark);
}

#levus-menu.desktop ul a {
    position: relative;
    z-index: 8;
    padding: 30px 20px;
}


/* підкреслення */

#levus-menu.desktop ul a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 2px;
    width: 100%;
    background: var(--original);
}

#levus-menu.desktop ul .parent a:hover::after {
    background: transparent;
}


/* 2 рівень */

#levus-menu.desktop .parent ul {
    display: block;
    width: 230px;
    position: absolute;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transition: transform .5s;
    transition: transform .5s;
    z-index: 7;
    border-radius: 6px;
    background: var(--light);
    box-shadow: 0 0 0 3px var(--opacity1);
}

#levus-menu.desktop .parent:hover ul {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
}

#levus-menu.desktop li ul a {
    z-index: 7;
    padding: 10px 20px;
    color: var(--dark);
    -webkit-transition: color .5s;
    transition: color .5s;
}

#levus-menu.desktop li ul a:hover::after {
    content: '';
    display: none;
}

#levus-menu.desktop li ul a:hover {
    color: var(--red);
}


/* 3 рівень */

#levus-menu.desktop .parent:hover li ul {
    border-radius: 6px;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

#levus-menu.desktop .parent li ul {
    -webkit-transition: transform .5s;
    transition: transform .5s;
}

#levus-menu.desktop .parent li:hover ul {
    top: 0;
    -webkit-transform: translateX(95%);
    transform: translateX(95%);
}


/* mobile */

#levus-menu.mobile {
    position: relative;
    z-index: 8;
}

#levus-menu.desktop .levus-wrapper {
    display: none;
}

#levus-menu.mobile .levus-wrapper {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 8;
}

.levus-wrapper::after {
    content: '';
    background: url('../images/menu.png');
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    top: 32px;
    right: 40px;
    z-index: 9;
    -webkit-transition: background .5s;
    transition: background .5s;
}

#levus-menu.mobile>ul {
    position: absolute;
    top: -999px;
    z-index: 7;
    padding: 10px;
    -webkit-transition: top .5s;
    transition: top .5s;
}

#levus-menu.mobile.show>ul {
    top: 100%;
    width: 100%;
    background: var(--light);
}

#levus-menu.mobile.show .levus-wrapper::after {
    background: url('../images/close.png');
}

#levus-menu.mobile.show li {
    display: block;
    position: relative;
    z-index: 10;
}

#levus-menu.mobile.show li a {
    padding: 5px;
    display: inline-block;
    color: var(--light);
    color: var(--dark);
    text-decoration: none;
}

#levus-menu.mobile.show li ul {
    margin: 0 0 0 10px;
}

#levus-menu.mobile.show li li ul {
    margin: 0 0 0 20px;
}

#levus-menu.mobile .parent::after {
    content: '';
    background: url('../images/arrow.png');
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 28px;
}

#levus-menu.mobile.show li.parent>ul {
    position: relative;
    height: 0;
    left: -999px;
    -webkit-transition: left 1s, height 2s;
    transition: left 1s, height 2s;
}

#levus-menu.mobile.show li.parent.show>ul {
    height: auto;
    left: 0;
}