#nav-panel {
    background: var(--light);
    overflow: hidden;
}

#nav-panel .container {
    padding: 10px;
    display: flex;
}


/* колір іконок */

#nav-panel i {
    color: var(--orange);
}

#nav-panel a {
    font-size: 13px;
    text-decoration: none;
    padding: 0 10px;
    border-left: 1px solid var(--gray);
}

@media(max-width: 500px) {
    #nav-panel a {
        border: none;
    }
}

#nav-panel a:hover,
#nav-panel a:hover i {
    color: var(--red);
}

#nav-panel a:first-child {
    border: none;
}

#lang {
    margin-right: auto;
}

#lang a {
    font-weight: 700;
    text-transform: uppercase;
}

#top-links {
    margin-left: auto;
}