#panel {
    margin-left: auto;
    padding: 10px;
}

#panel a {
    color: var(--light);
    margin: 0 5px;
}

#panel a i:before {
    font-size: 18px;
}

.header-white #panel a {
    /* color: var(--dark); */
    color: var(--original);
}

.header-white #panel a:hover {
    color: var(--dark);
    /* color: var(--original); */
}

@media(max-width: 1240px) {
    #panel {
        position: absolute;
        top: 24px;
        left: 0;
        margin-left: 0;
    }
}