@import url("//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
:root {
    /* --dark: #1f1f1f; */
    --gray: #565656;
    --light: #fff;
    --red: #dc3545;
    --orange: rgba(243, 102, 57, 1);
    --black: #000;
    --yellow: #ffd531;
    --green: green;
    --dark: rgba(51, 51, 51, 1);
    --opacity1: rgba(0, 0, 0, 0.1);
    --opacity3: rgba(0, 0, 0, 0.3);
    --opacity5: rgba(0, 0, 0, 0.5);
    --transparent1: rgba(255, 255, 255, .1);
    --transparent3: rgba(255, 255, 255, .3);
    --transparent5: rgba(255, 255, 255, .5);
    /**/
    --hover: rgba(180, 84, 53, 1);
    --ivory: rgba(255, 255, 240, 1);
    --light-gray: rgba(240, 240, 240, 1);
    --disabled: #999;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

a,
a:visited {
    color: var(--dark);
    text-decoration: underline;
}

a:hover {
    color: var(--red);
    text-decoration: none;
}


/* font-awesome */

.fa:before {
    font-size: 16px;
    font-family: "FontAwesome";
}


/**/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

p {
    margin: 0 0 30px;
    line-height: 1.8;
}


/**/

.text-center {
    text-align: center;
}


/**/

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}


/**/

.container {
    padding: 0 20px;
}

@media (max-width: 1240px) {
    .container {
        padding: 20px;
    }
}


/* hide */

@media (max-width: 996px) {
    .hidden-md {
        display: none;
    }
}

@media (max-width: 776px) {
    .hidden-sm {
        display: none;
    }
}

@media (max-width: 500px) {
    .hidden-xs {
        display: none;
    }
}


/* великі заголовки блоків */

.title {
    margin: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    color: var(--orange);
    text-shadow: 1px 1px 1px var(--gray);
}


/* блок відступу вгорі/внизу */

.section100 {
    margin-top: 100px;
    margin-bottom: 50px;
}


/* блок зі зміщеним заголовокм */

.section-title {
    margin-bottom: 50px;
}

.section-title .title {
    position: relative;
    top: 50px;
    margin: 0 20px 10px;
}

@media(max-width: 996px) {
    .section-title .title {
        position: relative;
        top: 60px;
        margin: 0 20px 0;
    }
}